
<div class="modal_main__thumb">
  <img src={{this.images.0.url}} alt="event" />
</div>

<div class="modal__flex">
  <img class="modal_main__image" src={{this.images.2.url}} alt="event"/>

  <div class="modal__content">
    <div class="modal__meta">
      <h3 class="modal_main__title">INFO</h3>
      <p>{{this.info}}</p>
    </div>

    <div class="modal__meta">
      <h3 class="modal_main__title">WHEN</h3>
      <p>{{this.dates.start.localDate}}</p>
      <p>{{this.dates.start.localTime}} ({{this.dates.timezone}})</p>
    </div>

    <div class="modal__meta">
      <h3 class="modal_main__title">WHERE</h3>
      <p>{{this._embedded.venues.0.city.name}}, {{this._embedded.venues.0.country.name}}</p>
      <p>{{this._embedded.venues.0.name}}</p>
    </div>

    <div class="modal__meta">
      <h3 class="modal_main__title">WHO</h3>
      <p>{{this.name}}</p>
    </div>

    <div class="modal__meta">
      <h3 class="modal_main__title">PRICES</h3>
      <p class="modal__price">
        <svg width="24" height="17">
          <use href="../images/modal_ticket_barcode.svg#icon-ticket_barcode"></use>
        </svg>
        Standart {{this.priceRanges.0.min}}-{{this.priceRanges.0.max}} {{this.priceRanges.0.currency}}
      </p>
      <button class="button button--ticket" data-modal_button_standart>BUY TICKETS</button>

      <p class="modal__price">
        <svg width="24" height="17">
          <use href="../images/sprite.svg#icon-ticket_barcode"></use>
        </svg>
        VIP 1000-1500 UAH
      </p>
      <button class="button button--ticket" data-modal_button_vip>BUY TICKETS</button>
    </div>
  </div>
</div>